<!DOCTYPE html>
<html lang="zxx">

<head>

   <!-- Metas -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   <meta name="keywords" content="HTML5 Template Coco onepage themeforest" />
   <meta name="description" content="Coco - Onepage Multi-Purpose HTML5 Template" />
   <meta name="author" content="" />

   <!-- Title  -->
   <title>Timber Realty</title>

   <!-- Favicon -->
   <link rel="shortcut icon" href="favicon.ico" />

   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

   <!-- Plugins -->


   <%= stylesheet_link_tag "plugins" %>
   <%= stylesheet_link_tag "style" %>

</head>

<body> 

    	<!-- =====================================
           ==== Start Loading -->

           <div class="loading">
              <div class="text-center middle">
                 <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
             </div>
         </div>

    	<!-- End Loading ====
           ======================================= -->


    	<!-- =====================================
           ==== Start Navbar -->

           <nav class="navbar navbar-expand-lg">
             <div class="container">

                <!-- Logo -->
                <a class="logo" href="#">
                    <%= image_tag("logo-gray.png", alt: "logo") %>          
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="icon-bar"><i class="fas fa-bars"></i></span>
             </button>

             <!-- navbar links -->
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav ml-auto">
                   <li class="nav-item">
                     <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="#" data-scroll-nav="1">About Us</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll-nav="2">Portfolio</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" href="#" data-scroll-nav="3">How It Works</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#" data-scroll-nav="4">Team</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#" data-scroll-nav="5">Reviews</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#" data-scroll-nav="6">Contact Us</a>
             </li>
         </ul>
     </div>
 </div>
</nav>

    	<!-- End Navbar ====
           ======================================= -->


    	<!-- =====================================
           ==== Start Header -->

           <header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="5" data-background="img/landing.png" data-stellar-background-ratio="0.5">

              <div class="container">
                 <div class="text-center caption mt-30">
                    <h4>Sell Your Home For $3,000</h4>
                    <h2>Flat Fee. Full Service.</h2>
                    <br>

                    <%= form_for @waitlist, url: waitlists_path do |f| %>

                    <div class = "row">
                        <div class = "col-md-4 col-xs-12 col-md-offset-4">
                            <%= f.text_field :email, :placeholder => "Enter your email", class: "form-control" %>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class = "row">
                        <div class = "col-md-4 col-xs-12 col-md-offset-4">
                            <div class="butn butn-bg">

                                <span> <%= f.submit "See how much your home is worth", class: "new-butn-text" %> </span>
                                <% end %>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

            <div class="curve curve-bottom curve-center"></div>
        </header>

    	<!-- End Header ====
           ======================================= -->



        <!-- =====================================
            ==== Start Hero -->

            <section class="hero" data-scroll-index="1">
                <div class="section-padding pos-re">
                    <div class="container">
                        <div class="row">
                            <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 text-center mb-80">
                                <h4 class="extra-title"> Our <span>Real Estate</span> Agency</h4>
                                <p>We provide all the services of a traditional agent, without the traditional cost.</p>
                            </div>

                            <div class="feat-item mb-md50 col-lg-4">
                                <div class="text-center">
                                    <span class="icon icon-basic-folder-multiple"></span>
                                    <h5>Pre-Listing</h5>
                                    <h6>Prepare your house to show</h6>
                                    <p>We do in-home consultations, professional photography, yard signs, lock boxes, in-person showings, and online marketing and advertising  </p>
                                </div>
                            </div>

                            <div class="feat-item active mb-md50 col-lg-4">
                                <div class="text-center">
                                    <span class="icon icon-basic-display"></span>
                                    <h5>Active Listing</h5>
                                    <h6>Show your house to buyers</h6>
                                    <p>We list your home on thousands of realty websites. We provide real time feedback on the showing automation and feedback
                                    </p>
                                </div>
                            </div>

                            <div class="feat-item col-lg-4">
                                <div class="text-center">
                                    <span class="icon icon-basic-notebook-pen"></span>
                                    <h5>Closing</h5>
                                    <h6>Finalize the sale</h6>
                                    <p>Receive and compare offers, conduct negotiations with buyers, and prepare and sign a contract for closing
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="curve curve-gray-b curve-bottom"></div>
                </div>

            </section>

        <!-- End Hero ====
            ======================================= -->


        <!-- =====================================
            ==== Start Teams -->

            <section class="team section-padding" data-scroll-index="2">
                <div class="container">
                    <div class="row">

                        <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                            <h4><span>Some of What We've</span> Sold</h4>
                            <p>Our expert agents help you through each step of the process, maximizing your price while saving you money on fees.</p>
                        </div>

                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="team-img">
                                    <%= image_tag("houses/house_1.jpg", alt:"") %>

                                </div>
                                <div class="info">
                                    <h6>Sold for: $400,000</h6>
                                    <span>Saved: $4,000</span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="team-img">
                                    <%= image_tag("houses/house_2.jpg", alt:"") %>

                                </div>
                                <div class="info">
                                    <h6>Sold for: $600,000</h6>
                                    <span>Saved: $12,500</span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="team-img">
                                    <%= image_tag("houses/house_3.jpg", alt:"") %>

                                </div>
                                <div class="info">
                                    <h6>Sold for: $600,000</h6>
                                    <span>Saved: $12,500</span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="team-img">
                                    <%= image_tag("houses/house_4.jpg", alt:"") %>

                                </div>
                                <div class="info">
                                    <h6>Sold for: $600,000</h6>
                                    <span>Saved: $12,500</span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </section>

        <!-- End Teams ====
            ======================================= -->


  <!-- =====================================
    ==== Start Process -->

    <div class="process section-padding bg-img bg-fixed pos-re text-center" data-overlay-dark="7" data-background="img/home.png">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="text-center">
                        <h2>What's your home worth?</h2>
                        <h5>Free market report of your home</h5>
                        <br>

                        <%= form_for @waitlist, url: waitlists_path do |f| %>

                        <div class = "row">
                            <div class = "col-md-4 col-xs-12 col-md-offset-4">
                                <%= f.text_field :email, :placeholder => "Enter your email", class: "form-control" %>
                            </div>
                        </div>
                        <br>
                        <div class = "row">
                            <div class = "col-md-4 col-xs-12 col-md-offset-4">


                              <div class="butn butn-bg">

                                <span> <%= f.submit "See how much your home is worth", class: "new-butn-text" %> </span>
                                <% end %>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="curve curve-gray-t curve-top"></div>
    <div class="curve curve-bottom"></div>
</div>

        <!-- End Process ====
            ======================================= -->





        <!-- =====================================
            ==== Start Why-us -->

            <div class="why-us section-padding pos-re" data-scroll-index="3" >

                <div class="container">
                 <div class = "row">
                     <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4 class="extra-title"><span>How Can We Offer A </span> Flat Fee? </h4>
                        <p>With our uniquely high volume, technology, and expert technology, we can offer a flat free for home sales </p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-4">

                        <%= image_tag("tech1.png", alt:"", class: "img mb-md50") %>
                    </div>

                    <div class="col-lg-6 col-lg-offset-1">
                        <div class="content pt-10">
                            <div class="item mb-40">
                                <span class="icon icon-basic-bolt"></span>
                                <div class="cont">
                                    <h5>Volume</h5>
                                    <p>We sell 70% more homes than the average real estate agent, making up for our lower fee.</p>
                                </div>
                            </div>
                            <div class="item mb-40">
                                <span class="icon icon-basic-smartphone"></span>
                                <div class="cont">
                                    <h5>Technology</h5>
                                    <p>Using the latest in real estate tech, we can be more efficient than our competitors.</p>
                                </div>
                            </div>
                            <div class="item">
                                <span class="icon icon-basic-headset"></span>
                                <div class="cont">
                                    <h5>Expert Agents</h5>
                                    <p>Our agents are seasoned pros, and sell your quickly home for the highest price</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="curve curve-top"></div>
            <div class="curve curve-bottom"></div>
        </div>

        <!-- End Why-us ====
            ======================================= -->




        <!-- =====================================
            ==== Start Teams -->

            <section class="team section-padding" data-scroll-index="4">
                <div class="container">
                    <div class="row">

                        <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                            <h4><span>Talented </span> Agents</h4>
                            <p>Our Agents have decades of experience in selling homes, and will be with you each step of the way.</p>
                        </div>

                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="team-img">
                                    <%= image_tag("team/1_new.jpg", alt:"") %>
                                    <div class="social">
                                        <a href="#0" class="icon">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <h6>Alex Smith</h6>
                                    <span>Project Manager</span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="team-img">
                                    <%= image_tag("team/2_new.jpg", alt:"") %>
                                    <div class="social">
                                        <a href="#0" class="icon">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <h6>Clifford Roule</h6>
                                    <span>Real Estate Expert</span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="team-img">
                                    <%= image_tag("team/3_new.jpg", alt:"") %>
                                    <div class="social">
                                        <a href="#0" class="icon">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <h6>Alex Smith</h6>
                                    <span>Real Estate Expert</span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="team-img">
                                    <%= image_tag("team/1_new.jpg", alt:"") %>
                                    <div class="social">
                                        <a href="#0" class="icon">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <h6>Alex Smith</h6>
                                    <span>Real Estate Expert</span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </section>

        <!-- End Teams ====
            ======================================= -->








        <!-- =====================================
            ==== Start Testimonials -->

            <section class="testimonials section-padding bg-img bg-fixed pos-re" data-overlay-dark="7" data-background="img/secrets.png"  data-scroll-index="5">
                <div class="container">
                    <div class="row">

                        <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                            <h4>Hear From Our <span>Satisfied</span> Customers</h4>
                            <p>Our customers have lots to say about Timber Realty! </p>
                        </div>

                        <div class="owl-carousel owl-theme text-center col-lg-10 offset-lg-1">
                            <div class="item-box">
                                <span class="quote">
                                    <%= image_tag("quot.png", alt:"") %>
                                </span>
                                <p>The sale was much easier and faster than I expected –  I definitely will recommend Timber to all my friends. </p>
                                <div class="info">
                                    <div class="author-img">
                                        <%= image_tag("clients/1.png", alt:"") %>
                                    </div>
                                    <div class="cont">
                                        <h6>Ender Smith</h6>
                                        <span>Sold $483K home</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-box">
                                <span class="quote">
                                    <%= image_tag("quot.png", alt: "") %>
                                </span>
                                <p>The lower fee structure saved us so much money, I don't understand why all companies don't do it this way.</p>
                                <div class="info">
                                    <div class="author-img">
                                        <%= image_tag("clients/2.jpg", alt:"") %>
                                    </div>
                                    <div class="cont">
                                        <h6>Allison Lee</h6>
                                        <span>Sold $693K home</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-box">
                                <span class="quote">
                                    <%= image_tag("quot.png", alt:"") %>
                                </span>
                                <p>My agent, Cliff, was one of the most responsible, friendly, experienced realtors I've ever encountered. Great job! </p>
                                <div class="info">
                                    <div class="author-img">
                                        <%= image_tag("clients/3.jpg", alt: "") %>
                                    </div>
                                    <div class="cont">
                                        <h6>Ben Simmons</h6>
                                        <span>Sold $567K home</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-box">
                                <span class="quote">
                                    <%= image_tag("quot.png", alt:"") %>
                                </span>
                                <p>I really appreciated the automatic updates on the status update for each buyer - it took a lot of worry off me!</p>
                                <div class="info">
                                    <div class="author-img">
                                        <%= image_tag("clients/4.png", alt:"") %>
                                    </div>
                                    <div class="cont">
                                        <h6>Adam Benson</h6>
                                        <span>Sold $789K home</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="curve curve-top"></div>
            </section>

        <!-- End Testimonials ====
            ======================================= -->





        <!-- =====================================
            ==== Start Contact -->

            <section class="contact section-padding" data-scroll-index="6">
             <div class="container">
                 <div class="row">

                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4>Get <span>In</span> Touch</h4>
                        <p>Any questions? We love hearing from you! Get in touch with us to learn more</p>
                    </div>

                    <div class="col-lg-5">
                        <div class="contact-info mb-md50">
                            <h5>Contact Us :</h5>
                            <p> Our agents are standing by 24/7 to respond to any questions or comments you may have!</p>
                            <div class="item">
                                <span class="icon icon-basic-tablet"></span>
                                <div class="cont">
                                    <h6>Phone : </h6>
                                    <p>(413) 285-3627</p>
                                </div>
                            </div>
                            <div class="item">
                                <span class="icon icon-basic-mail-open-text"></span>
                                <div class="cont">
                                    <h6>Email : </h6>
                                    <p>info@mcpunlimited.com</p>
                                </div>
                            </div>
                            <div class="item">
                                <span class="icon icon-basic-geolocalize-05"></span>
                                <div class="cont">
                                    <h6>Address : </h6>
                                    <p>P.O Box 271 Chicopee, MA 01021</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class = "form">


                            <div class="messages"></div>

                            <div class="controls">

                                <%= form_for @message, url: messages_path do |f| %>

                                <div class="row">

                                    <div class="col-md-6">
                                        <%= f.text_field :first_name, :placeholder => "Name", class: "form-group" %>
                                    </div>
                                    <div class="col-md-6">
                                        <%= f.text_field :email, :placeholder => "E-mail", class: "form-group" %>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <%= f.text_field :subject, :placeholder => "Subject", class: "form-group" %>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <%= f.text_area :message, :placeholder => "Message", class: "form-group" %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class = "butn butn-bg">
                                <span>
                                    <%= f.submit "Send Message", class: "new-butn-text"%>
                                </span>

                            </div>

                        </div>   
                        <% end %>                          
                    </div>

                </div>

            </div>

        </section>

        <!-- End Contact ====
            ======================================= -->


        <!-- =====================================
            ==== Start Footer -->

            <footer class="text-center pos-re">
                <div class="container">
                    <!-- Logo -->
                    <a class="logo" href="#">
                        <%= image_tag("logo-black.png", alt: "logo") %>          
                    </a>

                    <p>&copy; 2018 Timber Realty LLC. All Rights Reserved.</p>
                </div>

                <div class="curve curve-top curve-center"></div>
            </footer>

        <!-- End Footer ====
            ======================================= -->





            <%= javascript_include_tag 'landing', 'data-turbolinks-track' => false %>

        </body>
        </html>