<!DOCTYPE html>
<html lang="zxx">

<head>

 <!-- Metas -->
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
 <meta name="keywords" content="HTML5 Template Coco onepage themeforest" />
 <meta name="description" content="Coco - Onepage Multi-Purpose HTML5 Template" />
 <meta name="author" content="" />

 <!-- Title  -->
 <title>Timber Realty</title>

 <!-- Favicon -->
 <link rel="shortcut icon" href="favicon.ico" />

 <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

 <!-- Plugins -->


 <%= stylesheet_link_tag "plugins" %>
 <%= stylesheet_link_tag "style" %>

</head>

<body> 

    	<!-- =====================================
         ==== Start Loading -->

         <div class="loading">
          <div class="text-center middle">
           <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
       </div>
   </div>

    	<!-- End Loading ====
         ======================================= -->


    	<!-- =====================================
         ==== Start Navbar -->

         <nav class="navbar navbar-expand-lg">
           <div class="container">

            <!-- Logo -->
            <a class="logo" href="#">
                <%= image_tag("logo-light.png", alt: "logo") %>          
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="icon-bar"><i class="fas fa-bars"></i></span>
           </button>

           <!-- navbar links -->
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav ml-auto">
                 <li class="nav-item">
                   <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
               </li>
               <li class="nav-item">
                <a class="nav-link" href="#" data-scroll-nav="1">Services</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#" data-scroll-nav="2">Portfolio</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="#" data-scroll-nav="3">Team</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="#" data-scroll-nav="4">Price</a>
       </li>
       <li class="nav-item">
           <a class="nav-link" href="#" data-scroll-nav="5">Blog</a>
       </li>
       <li class="nav-item">
           <a class="nav-link" href="#" data-scroll-nav="6">Contact</a>
       </li>
   </ul>
</div>
</div>
</nav>

    	<!-- End Navbar ====
         ======================================= -->


    	<!-- =====================================
         ==== Start Header -->

         <header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="4" data-background="img/landing.png" data-stellar-background-ratio="0.5">

          <div class="container">
           <div class="text-center caption mt-30">
            <h4>Sell Your Home For $3,000</h4>
            <h2>Flat Fee. Full Service.</h2>
            <br>

            <%= form_for @waitlist, url: waitlists_path do |f| %>

            <div class = "row">
                <div class = "col-md-4 col-xs-12 col-md-offset-4">
                    <%= f.text_field :email, :placeholder => "Enter your email", class: "form-control" %>
                </div>
            </div>

            <div class = "row">
                <div class = "col-md-4 col-xs-12 col-md-offset-4">
                    <div class="butn butn-light mt-30">

                        <span> <%= f.submit "See how much your home is worth", class: "new-butn-text" %> </span>
                        <% end %>
                    </div>
                </div>
            </div>


<!-- CAN DELETE, JUST FOR ERROR CHECKING PURPOSES -->
<!--             <div class="butn butn-light mt-30">
                <span>Get Started</span>
            </div> -->
        </div>
    </div>

    <div class="curve curve-bottom curve-center"></div>
</header>

    	<!-- End Header ====
         ======================================= -->



        <!-- =====================================
            ==== Start Hero -->

            <section class="hero" data-scroll-index="1">
                <div class="section-padding pos-re">
                    <div class="container">
                        <div class="row">
                            <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 text-center mb-80">
                                <h4 class="extra-title"> Our <span>Real Estate</span> Agency</h4>
                                <p>We provide all the services of a traditional agent, without the traditional cost.</p>
                            </div>

                            <div class="feat-item mb-md50 col-lg-4">
                                <div class="text-center">
                                    <span class="icon icon-basic-folder-multiple"></span>
                                    <h5>Pre-Listing</h5>
                                    <h6>Prepare your house to show</h6>
                                    <p>We do in-home consultations, professional photography, yard signs, lock boxes, in-person showings, and online marketing and advertising  </p>
                                </div>
                            </div>

                            <div class="feat-item active mb-md50 col-lg-4">
                                <div class="text-center">
                                    <span class="icon icon-basic-display"></span>
                                    <h5>Active Listing</h5>
                                    <h6>Show your house to buyers</h6>
                                    <p>We list your home on thousands of realty websites. We provide real time feedback on the showing automation and feedback
                                    </p>
                                </div>
                            </div>

                            <div class="feat-item col-lg-4">
                                <div class="text-center">
                                    <span class="icon icon-basic-notebook-pen"></span>
                                    <h5>Closing</h5>
                                    <h6>Finalize the sale</h6>
                                    <p>Receive and compare offers, conduct negotiations with buyers, and prepare and sign a contract for closing
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="curve curve-gray-b curve-bottom"></div>
                </div>

            </section>

        <!-- End Hero ====
            ======================================= -->



        <!-- =====================================
            ==== Start Blog -->

            <section class="blog section-padding" data-scroll-index="5">
                <div class="container">
                    <div class="row">

                        <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                            <h4><span> What We've </span> Sold</h4>
                            <p>We are a passionate digital design agency that specializes in beautiful and easy-to-use digital design & web development services.</p>
                        </div>
                        <div class="col-lg-4">
                            <div class="item mb-md50">
                                <div class="post-img">
                                    <div class="img">
                                        <%= image_tag("blog/1.jpg", alt:"") %>
                                    </div>
                                </div>
                                <div class="cont">
                                    <div class="info">
                                        <a href="#0">By : Admin</a>
                                        <a href="#0">06 Aug 2017</a>
                                        <a href="#0" class="tag">WordPress</a>
                                    </div>
                                    <h6><a href="#0">48 Best WordPress Themes</a></h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the dummy text ever</p>
                                    <a href="#0" class="more">Read More <i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="item mb-md50">
                                <div class="post-img">
                                    <div class="img">
                                        <%= image_tag("blog/2.jpg", alt:"") %>
                                    </div>
                                </div>
                                <div class="cont">
                                    <div class="info">
                                        <a href="#0">By : Admin</a>
                                        <a href="#0">06 Aug 2017</a>
                                        <a href="#0" class="tag">WordPress</a>
                                    </div>
                                    <h6><a href="#0">48 Best WordPress Themes</a></h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the dummy text ever</p>
                                    <a href="#0" class="more">Read More <i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="item">
                                <div class="post-img">
                                    <div class="img">
                                        <%= image_tag("blog/3.jpg", alt:"") %>
                                    </div>
                                </div>
                                <div class="cont">
                                    <div class="info">
                                        <a href="#0">By : Admin</a>
                                        <a href="#0">06 Aug 2017</a>
                                        <a href="#0" class="tag">WordPress</a>
                                    </div>
                                    <h6><a href="#0">48 Best WordPress Themes</a></h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the dummy text ever</p>
                                    <a href="#0" class="more">Read More <i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>        

        <!-- End Blog ====
            ======================================= -->




        <!-- =====================================
            ==== Start Why-us -->

            <div class="why-us section-padding pos-re">

                <div class="container">
                   <div class = "row">
                       <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4><span>How Can We Offer A </span> Flat Fee? </h4>
                        <p>With our uniquely high volume, technology, and expert technology, we can offer a flat free for home sales </p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-6">

                        <%= image_tag("tech1.png", alt:"", class: "img mb-md50") %>
                    </div>

                    <div class="col-lg-6">
                        <div class="content pt-10">
                            <div class="item mb-40">
                                <span class="icon icon-basic-display"></span>
                                <div class="cont">
                                    <h5>Volume</h5>
                                    <p>We sell 70% more homes than the average real estate agent, making up for our lower fee.</p>
                                </div>
                            </div>
                            <div class="item mb-40">
                                <span class="icon icon-basic-bolt"></span>
                                <div class="cont">
                                    <h5>Technology</h5>
                                    <p>Using the latest in real estate tech, we can be more efficient than our competitors.</p>
                                </div>
                            </div>
                            <div class="item">
                                <span class="icon icon-basic-headset"></span>
                                <div class="cont">
                                    <h5>Expert Agents</h5>
                                    <p>Our agents are seasoned pros, and sell your quickly home for the highest price</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="curve curve-top"></div>
            <div class="curve curve-bottom"></div>
        </div>

        <!-- End Why-us ====
            ======================================= -->




        <!-- =====================================
            ==== Start Teams -->

            <section class="team section-padding" data-scroll-index="3">
                <div class="container">
                    <div class="row">

                        <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                            <h4><span>Talent</span> Team</h4>
                            <p>We are a passionate digital design agency that specializes in beautiful and easy-to-use digital design & web development services.</p>
                        </div>

                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="team-img">
                                    <%= image_tag("team/1.jpg", alt:"") %>
                                    <div class="social">
                                        <a href="#0" class="icon">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <h6>Alex Smith</h6>
                                    <span>Project Manager</span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="team-img">
                                    <%= image_tag("team/2.jpg", alt:"") %>
                                    <div class="social">
                                        <a href="#0" class="icon">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <h6>Alex Smith</h6>
                                    <span>Project Manager</span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="team-img">
                                    <%= image_tag("team/3.jpg", alt:"") %>
                                    <div class="social">
                                        <a href="#0" class="icon">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <h6>Alex Smith</h6>
                                    <span>Project Manager</span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="team-img">
                                    <%= image_tag("team/4.jpg", alt:"") %>
                                    <div class="social">
                                        <a href="#0" class="icon">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <h6>Alex Smith</h6>
                                    <span>Project Manager</span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="team-img">
                                    <%= image_tag("team/3.jpg", alt:"") %>
                                    <div class="social">
                                        <a href="#0" class="icon">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <h6>Alex Smith</h6>
                                    <span>Project Manager</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        <!-- End Teams ====
            ======================================= -->






        <!-- =====================================
            ==== Start Process -->

            <div class="process section-padding bg-img bg-fixed pos-re text-center" data-overlay-dark="7" data-background="img/secrets.png">
                <div class="container">
                    <div class="row">

                        <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                            <h4><span>The Dirty Secret of</span> Real Estate</h4>
                            <p>It's much easier to sell a home, then buy one.</p>
                        </div>
                        <div class="full-width clearfix"></div>



                    </div>
                </div>

                <div class="curve curve-gray-t curve-top"></div>
                <div class="curve curve-bottom"></div>
            </div>

        <!-- End Process ====
            ======================================= -->



        <!-- =====================================
            ==== Start Testimonials -->

            <section class="testimonials section-padding bg-img bg-fixed pos-re" data-overlay-dark="7" data-background="img/bg4.jpg">
                <div class="container">
                    <div class="row">

                        <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                            <h4>Hear From Our <span>Satisfied</span> Customers</h4>
                            <p>We are a passionate digital design agency that specializes in beautiful and easy-to-use digital design & web development services.</p>
                        </div>

                        <div class="owl-carousel owl-theme text-center col-lg-10 offset-lg-1">
                            <div class="item-box">
                                <span class="quote">
                                    <%= image_tag("quot.png", alt:"") %>
                                </span>
                                <p>Lorem Ipsum is simply dummy text a galley of type and scrambled it to make a type specimen book.</p>
                                <div class="info">
                                    <div class="author-img">
                                        <%= image_tag("clients/1.jpg", alt:"") %>
                                    </div>
                                    <div class="cont">
                                        <h6>Alex Smith</h6>
                                        <span>Envato Customer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-box">
                                <span class="quote">
                                    <%= image_tag("quot.png", alt: "") %>
                                </span>
                                <p>Lorem Ipsum is simply dummy text a galley of type and scrambled it to make a type specimen book.</p>
                                <div class="info">
                                    <div class="author-img">
                                        <%= image_tag("clients/2.jpg", alt:"") %>
                                    </div>
                                    <div class="cont">
                                        <h6>Alex Smith</h6>
                                        <span>Envato Customer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-box">
                                <span class="quote">
                                    <%= image_tag("quot.png", alt:"") %>
                                </span>
                                <p>Lorem Ipsum is simply dummy text a galley of type and scrambled it to make a type specimen book.</p>
                                <div class="info">
                                    <div class="author-img">
                                        <%= image_tag("clients/3.jpg", alt: "") %>
                                    </div>
                                    <div class="cont">
                                        <h6>Alex Smith</h6>
                                        <span>Envato Customer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-box">
                                <span class="quote">
                                    <%= image_tag("quot.png", alt:"") %>
                                </span>
                                <p>Lorem Ipsum is simply dummy text a galley of type and scrambled it to make a type specimen book.</p>
                                <div class="info">
                                    <div class="author-img">
                                        <%= image_tag("clients/4.jpg", alt:"") %>
                                    </div>
                                    <div class="cont">
                                        <h6>Alex Smith</h6>
                                        <span>Envato Customer</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="curve curve-top"></div>
            </section>

        <!-- End Testimonials ====
            ======================================= -->


        <!-- =====================================
            ==== Start Call-Action -->

            <section class="call-action section-padding bg-img bg-fixed" data-overlay-dark="5" data-background="img/home.png">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="text-center">
                                <h2>What's your home work?</h2>
                                <h5>Free market report of your home</h5>
                                <a href="#0" class="butn butn-bg">
                                    <span>Get a Quote Now</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        <!-- End Call-Action ====
            ======================================= -->



        <!-- =====================================
            ==== Start Contact -->

            <section class="contact section-padding" data-scroll-index="6">
               <div class="container">
                   <div class="row">

                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4>Get <span>In</span> Touch</h4>
                        <p>Any questions? Get in touch with us to learn more</p>
                    </div>

                    <div class="col-lg-5">
                        <div class="contact-info mb-md50">
                            <h5>Contact Us :</h5>
                            <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat</p>
                            <div class="item">
                                <span class="icon icon-basic-tablet"></span>
                                <div class="cont">
                                    <h6>Phone : </h6>
                                    <p>+20 010 251 789 18 , 251 789 18</p>
                                </div>
                            </div>
                            <div class="item">
                                <span class="icon icon-basic-mail-open-text"></span>
                                <div class="cont">
                                    <h6>Email : </h6>
                                    <p>Coco_support@website.com</p>
                                </div>
                            </div>
                            <div class="item">
                                <span class="icon icon-basic-geolocalize-05"></span>
                                <div class="cont">
                                    <h6>Address : </h6>
                                    <p>4655 Carter Street ,Olney, Illinois</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <form class="form" id="contact-form" method="post" action="contact.php">

                            <div class="messages"></div>

                            <div class="controls">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_name" type="text" name="name" placeholder="Name" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_email" type="email" name="email" placeholder="Email" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input id="form_subject" type="text" name="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea id="form_message" name="message" placeholder="Message" rows="4" required="required"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <button type="submit" class="butn butn-bg"><span>Send Message</span></button>
                                    </div>

                                </div>                             
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>

        <!-- End Contact ====
            ======================================= -->


        <!-- =====================================
            ==== Start Footer -->

            <footer class="text-center pos-re">
                <div class="container">
                    <!-- Logo -->
                    <a class="logo" href="#">
                        <%= image_tag("logo-light.png", alt: "logo") %>          
                    </a>

                    <div class="social">
                        <a href="#0"><i class="fab fa-facebook-f"></i></a>
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                        <a href="#0"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#0"><i class="fab fa-behance"></i></a>
                        <a href="#0"><i class="fab fa-pinterest-p"></i></a>
                    </div>

                    <p>&copy; 2018 UI-ThemeZ. All Rights Reserved.</p>
                </div>

                <div class="curve curve-top curve-center"></div>
            </footer>

        <!-- End Footer ====
            ======================================= -->





            <%= javascript_include_tag 'landing', 'data-turbolinks-track' => false %>

        </body>
        </html>