
<section class="banner-bg">
	<div class="content">
		<div class="row">
			<h2>Sell Your Home for $3,000</h2>
		</div>
		<div class = "row">
			<h4>Flat Fee. Full Service.</h4>
		</div>
				<%= form_for @waitlist, url: waitlists_path do |f| %>

		<div class = "row">
			<div class = "col-xs-12">
				<div class="email-box">
					<%= f.text_field :email, :placeholder => "Enter your email", class: "form-control" %>
				</div>
			</div>
			<div class = "col-xs-12">
				<%= f.submit "See how much your home is worth", class: "btn" %>
				<% end %>
			</div>
		</div>


	</div>

	</div>
</section>


<section class = "services-bg">
	<div class = "primary-header black"> All the services of a traditional agent </div>
	<div class = "sub-header dark-gray"> Without the traditional cost </div>	
	<div class = "row">
		<div class="col-md-4 col-xs-12">
			<div class = "benefits-wrap center-align">
				<h4>From Pre-Listing</h4>
				<%= image_tag("icons/handshake.png", class: "img-benefits", alt: "") %>
				<div class = "small-text dark-gray left-align"> 
					<ul> 
						<li> In-home consultations, professional photography, yard signs </li> 
						<li> Lock boxes, in-person showings </li> 
						<li> Online marketing and advertising </li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-xs-12">
			<div class = "benefits-wrap center-align">
				<h4>To Active Listing </h4>
				<%= image_tag("icons/cartoon_house.png", class: "img-benefits", alt: "") %>
				<div class = "small-text dark-gray left-align"> 
					<ul> 
						<li> Home information details and photos </li>
						<li> Internet marketing through the MLS and thousands of realty websites </li>
						<li> Showing automation and service and feedback </li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-xs-12">
			<div class = "benefits-wrap center-align">
				<h4>To Close </h4>
				<%= image_tag("icons/contract.png", class: "img-benefits", alt: "") %>
				<div class = "small-text dark-gray left-align"> 
					<ul> 
						<li>Offers and negotiations </li>
						<li>Docusign e-signing capability </li>
						<li>Contract and closing </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="sold-bg">
	<div class = "primary-header black"> Some of What We've Sold </div>
	<div class = "sub-header dark-gray"> Our expert agents help you through each step of the process, maximizing your price while saving you money on fees </div>


	<div class="row">
		<div class = "col-md-4 col-xs-12" > 
			<div class = "gray-wrap">
				<%= image_tag("house_1.png", class: "img-houses", alt: "") %>
				<div class = "text-wrap">
					<div class = "small-text dark-grey"> ”The sale was much easier than I expected –  I definitely will recommend Timber to all my friends” </div>
					<div class = "small-text dark-grey"> - Dee </div>
				</div>
			</div>
		</div> 

		<div class = "col-md-4 col-xs-12" > 
			<div class = "gray-wrap">
				<%= image_tag("house_2.png", class: "img-houses", alt: "") %>
				<div class = "text-wrap">
					<div class = "small-text dark-grey"> ”The sale was much easier than I expected –  I definitely will recommend Timber to all my friends” </div>
					<div class = "small-text dark-grey"> - Dee </div>
				</div>
			</div>
		</div>

		<div class = "col-md-4 col-xs-12" > 
			<div class = "gray-wrap">

				<%= image_tag("house_1.png", class: "img-houses", alt: "") %>
				<div class = "text-wrap">
					<div class = "small-text dark-grey"> ”The sale was much easier than I expected –  I definitely will recommend Timber to all my friends” </div>
					<div class = "small-text dark-grey"> - Dee </div>
				</div>
			</div>
		</div>  
	</div>
</section>





<section class="secret-bg">
	<div class="content">
		<div class="row">
			<h2>The Dirty Secret of Real Estate: </h2>
			<h4>It's much easier to sell a home, than buy one </h4>
		</div>
	</div>
</section>


<section class="offer-bg">
	<div class = "primary-header black center-align"> How Can We Offer This? </div>
	<div class = "sub-header dark-gray center-align"> With volume, technology, and expert agents, we can offer a flat fee for home sales
	</div>


	<div class="row">
		<div class = "col-md-6 col-xs-12" > 
			<div class = "row">
				<div class = "col-md-6 col-xs-12" > 
					<%= image_tag("icons/volume.png", class: "img-benefits", alt: "") %>
				</div>
				<div class = "col-md-6 col-xs-12" > 

					<div class = "sub-header black ">Volume </div>
					<div class = "small-text dark-grey"> We sell enough homes so that we make up for our lower prices </div>
				</div>
			</div>

			<div class = "row">
				<div class = "col-md-6 col-xs-12" > 
					<%= image_tag("icons/technology.png", class: "img-benefits", alt: "") %>
				</div>
				<div class = "col-md-6 col-xs-12" > 
					
					<div class = "sub-header black ">Technology </div>
					<div class = "small-text dark-grey"> Using the latest in real estate tech, we can be more efficient than our competitors </div>
				</div>
			</div>


			<div class = "row">
				<div class = "col-md-6 col-xs-12" > 
					<%= image_tag("icons/agent.png", class: "img-benefits", alt: "") %>
				</div>
				<div class = "col-md-6 col-xs-12" > 
					
					<div class = "sub-header black ">Volume </div>
					<div class = "small-text dark-grey"> Our agents are seasoned pros, and sell your quickly home for the highest price</div>
				</div>
			</div>
		</div>
		<div class = "col-md-6 col-xs-12" > 
			<div class = "large-image-wrap">
			<%= image_tag("icons/next_home.png", class: "img-large-benefits", alt: "") %>
		</div>
		</div>
	</div>
</section>


<section class="market-bg">
	<div class="content">
		<div class="row">
			<h2>What's Your Home Worth?  </h2>
			<h4>Free market report of your home </h4>
		</div>
	</div>
</section>

