<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Timber Realty </title>
</head>
<body>

  
    <% if notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
    <% end %>

    <% if alert %>
    <div class="alert alert-danger">
      <%= alert %>
    </div>
    <% end %>



  <%= yield %>
<%= render "sessions/footer" %>
</body>
</html>
